[Unit]
Description=Coco TestAI Celery Worker
After=network.target

[Service]
Type=forking
User={{ app_user }}
Group={{ app_user }}
WorkingDirectory={{ backend_dir }}
Environment="PATH={{ backend_dir }}/venv/bin"
ExecStart={{ backend_dir }}/venv/bin/celery -A coco_testai worker --loglevel=info
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
